* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  width: 600px;
  height: 600px;
  background: lightblue;
  float: right;
  position: relative;
  overflow: hidden;
  perspective: 100px;
  background-color: #ddffaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}

.darkness {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
  position: absolute;
  height: 200%;
  width: 400%;
  opacity: 0.5;
  z-index: 8;
  left: -50%;
  top: -50%;
  z-index: 5;
}

.lamp-head {
  position: absolute;
  background: coral;
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  border-radius: 20px 20px 3px 3px;
  z-index: 7;
  border: 5px solid black;
  animation: swing 2s infinite alternate ease-in-out;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background: coral;
    bottom: 100%;
    left: 50%;
    border: 5px solid black;
    transform: translateX(-50%);
  }
}

.lamp-light {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: 150%;
  height: 120%;
  left: 50%;
  top: 0;
  clip-path: polygon(50% 0, 50% 0, 70% 100%, 30% 100%);
  z-index: 6;
  mix-blend-mode: overlay;
  transform: translateX(-50%);
  transform-origin: top;
  //animation: blink 2s infinite alternate ease-in-out;
  animation: swing 2s infinite alternate ease-in-out;
}

.chair {
  position: absolute;
  bottom: 0;
  width: 200px;
  left: 90px;
  z-index: 2;
}

.plant {
  position: absolute;
  bottom: 15px;
  width: 200px;
  right: 120px;
  z-index: 2;
}

.painting {
  position: absolute;
  top: 170px;
  width: 200px;
  right: 150px;
  z-index: 2;
}

.ground {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #934700;
  bottom: 0;
  left: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swing {
  from {
    transform: translateX(-50%) rotate(10deg);
  }
  to {
    transform: translateX(-50%) rotate(-10deg);
  }
}
